@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

/* 'Josefin sans', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.tophead{
    width: 100%;
    height: 65px;
    background: rgb(56, 139, 235);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
}
.brandlogo{
    color: white;
    font-size: 2.1rem;
    padding-left: 20px;

}
.menulines{
    font-size: 30px;
    cursor: pointer;
    margin-right: 50px;
    color: white;
}

/* ----------Navigation--------- */


.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgb(3, 59, 77);
    overflow-x: hidden;
    padding-top: 60px;
    transition: all 0.5s;
    z-index: 2;

}
.sidenav a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    padding: 30px 0 30px 30px;
}
.sidenav .about-1{
    color: rgba(255, 255, 255, 0.7) ;
}
.sidenav a:hover{
    color: rgba(255, 255, 255, 0.7) ;
}

.closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 35px!important;

}
.m-top h1{
    margin-top: 100px;
}




/* ---Banner-1--- */
.banner .banner-1 img {
    width: 100%;
    height: 400px;
    margin-top: 65px;
    opacity: 0.3;
}
.banner .banner-1{
    width: 100%;
    height: 465px;
    background: linear-gradient(rgba(4, 9, 30, 0.993),rgba(4, 9, 30, 0.767));
}
.banner .banner-1 h3{
    position: absolute;
    top: 250px;
    left: 15%;
    font-size: 60px;
    color: white;
    font-family:'Josefin sans', sans-serif ;
    font-weight: 600;
}

/* --About-- */


.about{
    margin: 50px 150px 50px 150px;
}
.about h2{
    font-size: 60px;
}
.a-1,.a-2,.a-3,.a-4,.a-5{
    margin-top: 30px;
}
.founders{
    margin: 50px 100px 50px 150px;
    height: 90vh;
}
.founders h4{
    margin-bottom: 20px;
    font-size: 40px;
    color: rgb(75, 12, 1);
}
.f-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap:10px ;
    row-gap: 40px;
    
}
.f img,title{
    display: block;
    
}
.f img {
    width: 300px;
}
.f .title{
    color: rgb(122, 124, 1);
    font-size: 20px;
}

/* ---REVIEW--- */


.reviews{
    margin: 20px 0 20px 0;
    padding: 0 50px 0 50px;
    background: rgba(175, 148, 152, 0.418);
    height: 82vh;
    justify-content: center;
}
.rev-body{
    text-align: center;
    padding-top: 50px;
}
.rev-body h1{
    font-family:'Josefin Sans', sans-serif ;
    font-size: 50px;
    font-weight: 600;
    text-align: left;
}
.rev-cont{
    display: grid;
    grid-gap: 50px;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    top: 50%;
    bottom: 50%;
    padding-top: 50px;
}
.rev-img  p{
    background-color:rgb(102, 90, 88);
    padding: 50px 50px 50px 50px ;
    font-size: 20px;
    color: white;
    font-weight: 400s;
}
.rev-img img{
    width: 100px;
    border-radius: 50%;
    border: 10px solid white;
    margin-right: 510px;
}
.rev-name{
    display:block;
}
.rev-name h2{
    font-size: 30px;
    font-weight: 500;
    margin-top: -80px;
    margin-left: 47px;
    background: white;
    border: 5px solid white;
}


/* Footer */

footer{
    background-image:linear-gradient(rgba(4,9,30,0.9),rgba(4,9,30,0.9)), url(images/eyes-4751572_1920.png) ; 
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding:100px 100px 20px 100px;
    margin-top: 50px;
}
.f-container2{
    
    font-size: 15px;
    font-weight: 100!important;
    height: 60vh;
}
footer .f-container2 h4{
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 10px;
}
.footer .para p{
    font-weight: 100;
}
footer img{
    width: 200px;
    height: 200px;
}
.bottom{
    display: block;
    width: 100%;
    height: 300px;
    padding-top: 3%;
    background: rgb(200, 201, 199);
}
.btm{
    display:flex;
    text-align: center;
}
.badge-container{
    display: flex;
}
.badge-container img:hover{
    opacity: 0.5;
}
.btns{
    display: flex;
    padding-left: 500px;
    align-content: center;
    font-size: 30px;
    
}
.f-btns a{
    display: inline-flex;
    text-decoration: none;
    align-content: center;
    justify-content: space-between;
    text-align: center;
    font-size: 30px;
    
}
.f-btns a:hover{
    background:darkslategray;
}
.btn-1{
    color: white;
    background: rgb(201, 171, 0);
    padding: 5px 10px 5px 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-left: -280px;
    margin-right: 100px;
 
}
.btn-2{
    color: white;
    background: rgb(173, 78, 0);
    padding: 5px 30px 5px 30px;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-right: 100px;
 
 
   
}
.btn-3 img{
    width: 200px;
    height: 60px;
    margin-right: 100px;
}
.btn-4 img{
    width: 240px;
    height: 90px;
    margin-top: -13px;
}
.tag-container{
    display: block;
    position: relative;
    text-align: center;
    margin-top: 20px;
    
}
.tags a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.tags a:hover{
    color: rgb(185, 68, 0);
}
.icon{
    padding: 20px;
}
.icon a{
    text-decoration: none;
    color: rgb(97, 93, 93);
    margin-right: 20px;
}
.icon a:hover{
    color: rgb(3, 59, 77);
}
