@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

/* 'Josefin sans', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.tophead{
    width: 100%;
    height: 65px;
    background: rgb(56, 139, 235);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
}
.brandlogo{
    color: white;
    font-size: 2.1rem;
    padding-left: 20px;

}
.menulines{
    font-size: 30px;
    cursor: pointer;
    margin-right: 50px;
    color: white;
}

/* ----------Navigation--------- */


.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgb(3, 59, 77);
    overflow-x: hidden;
    padding-top: 60px;
    transition: all 0.5s;
    z-index: 2;

}
.sidenav a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    padding: 30px 0 30px 30px;
}
.sidenav .courses{
    color: rgba(255, 255, 255, 0.7) ;
}
.sidenav a:hover{
    color: rgba(255, 255, 255, 0.7) ;
}

.closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 35px!important;

}
.m-top h1{
    margin-top: 100px;
}

/*  Bannner-1  */

.banner1{
    padding: 100px 100px 0px 100px;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)) , url(images2/girl-1130386_1920.jpg);
    height: 400px;
}
.banner1 h1{
    padding-top:20px ;
    font-weight: 600;
    color: rgb(255, 94, 0);
}
.banner1 p{
    padding-top:20px ;
    font-size: 25px;
    color: white;
    font-weight:100;
}
.cont1{
    margin: 50px 100px 0px 100px;
    font-size: 25px;
}
.cont2{
    margin: 50px 100px 0px 100px;
    font-size: 20px;
}
.banner2{
    display: flex;
    margin: 50px 100px 50px 100px;
    justify-content: center;
    align-items: center;

}
.banner2 img{
    height: 500px;
}
.banner2 .cont1{
    font-size: 20px;
}
.banner2 .cont2{
    font-size: 20px;
    background-color: rgb(240, 240, 240);
    padding: 20px 20px 20px 20px;
}
.banner2 .cont1 h3{
    color: coral;
    font-weight: 600;
}
.banner2 .cont2 h3{
    color: coral;
    font-weight: 600;
   
}
.banner3{
    display: flex;
    background: rgb(255, 252, 235);
    height: 90vh;
    padding-right:20px ;
  
}
.banner3 .cont1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 2px;
    align-content: center;
    padding-bottom: 100px;
    padding-top: 50px;
    margin-left: 50px;
    margin-right: 150px;
}
.item{
    height: 160px;
    width:280px;
    background: darksalmon;
    color: rgba(255, 255, 255, 0.651);
    text-align: center;

    
}

.banner3 .cont1 .item .title{
    text-align: left;
    font-size: 12px;
    margin-left: 5px;
    font-weight: 300;
}
.banner3 .cont2{
    height:400px;
    margin-left: -100px;
    margin-right: 20px;
}
.banner3 .cont2 h1{
    margin-top: 75px;
    font-weight: 500;
    color: rgb(180, 53, 6);
}
.banner3 .cont2 .btn{
    margin-top: 30px;
    
}
.banner3 .cont2 a{
    text-decoration: none;
    background: rgb(0, 7, 26);
    padding: 5px 20px 5px 20px;
    color: white;

}
.banner3 .cont2 a:hover{
    background: rgba(255, 208, 0, 0.979);
    color: rgb(0, 0, 0);
    
}
.item1{
    background-image: url(images2/images\ \(4\).jpg);
}
.item2{
    background-image: url(images2/images\ \(5\).jpg);
}
.item3{
    background-image: url(images2/image-2.jpg);
}
.item4{
    background-image: url(images2/images\ \(6\).jpg);
}
.item5{
    background-image: url(images2/images\ \(1\).jpg);
}
.item6{
    background-image: url(images2/download\ \(1\).jpg);
}
.item7{
    background-image: url(images2/images\ \(7\).jpg);
}
.item8{
    background-image: url(images2/download\ \(3\).jpg);
}
.item9{
    background-image: url(images2/download\ \(2\).jpg);
}


/* --Courses1-- */

.c-title h4{
    margin: 50px 100px 0px 100px;
    font-size: 40px;
    font-weight: 500;
    color: rgb(16, 29, 44);

}
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    justify-content: center;
    width: 100%;
    align-content: center;
    padding: 20px 100px 50px 100px;
    row-gap: 40px;
}  
.crs{
    display: block;
    width:351px;
    height: 440px;
    padding: 20px 20px 20px 20px ;
    border: 1px solid rgb(187, 178, 178);

}
.crs .img img{
    width: 347px;
    height: 200px;
    margin-left:-19px ;
    margin-top: -19px;
    margin-bottom: 10PX;
   
    
}
.crs .days{
    display: inline-block;
    height: 80px;
    width: 80px;
    background: white;
    text-align: center;
    position: absolute;
    margin-left: 248px;
    margin-top: -20px;
    line-height: 20px;
    padding-top:20px ;
    color: rgb(207, 176, 0);
}
.crs .days .digit{
    font-size: 40px;
    text-align: center;
    
}
.crs .tag {
    color: rgb(136, 146, 0);
   
}
.crs h4{
    color: rgb(189, 69, 0);
    font-size: 20px;
    font-weight: 600;
    margin-top: 10PX;
}
.crs .btn2{
    margin-top: 40px;
}
.crs2 .btn2 {
    margin-top: 10px;
}
.crs .btn2 a{
    text-decoration: none;
    background: rgb(25, 28, 36);
    padding: 5px 20px 5px 20px;
    color: white;
}
.crs .btn2 a:hover{
    background: darkslategray;
}

/* ---courses2--- */

.c2-title h4{
    margin: 50px 100px 0px 100px;
    font-size: 40px;
    font-weight: 500;
    color: rgb(16, 29, 44);

}
.courses2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    justify-content: center;
    width: 100%;
    align-content: center;
    padding: 20px 100px 50px 100px;
    row-gap: 40px;
}  
.crs-2{
    display: block;
    width:351px;
    height: 440px;
    padding: 20px 20px 20px 20px ;
    border: 1px solid rgb(187, 178, 178);

}
.crs-2 .img img{
    width: 347px;
    height: 200px;
    margin-left:-19px ;
    margin-top: -19px;
    margin-bottom: 10PX;
   
    
}
.days{
    /* display: inline-block; */
    height: 80px;
    width: 80px;
    background: white;
    text-align: center;
    position: absolute;
    margin-left: 248px;
    margin-top: -20px;
    line-height: 20px;
    padding-top:20px ;
    color: rgb(207, 176, 0);
}
.crs-2 .days .digit{
    font-size: 40px;
    text-align: center;
    
}
.crs-2 .tag {
    color: rgb(136, 146, 0);
   
}
.crs-2 h4{
    color: rgb(189, 69, 0);
    font-size: 20px;
    font-weight: 600;
    margin-top: 10PX;
}
.crs-2 .btn2{
    margin-top: 40px;
}

.crs-2 .btn2 a{
    text-decoration: none;
    background: rgb(25, 28, 36);
    padding: 5px 20px 5px 20px;
    color: white;
}
.crs-2 .btn2 a:hover{
    background: darkslategray;
}


/* ---REVIEW--- */


.reviews{
    margin: 20px 0 20px 0;
    padding: 0 50px 0 50px;
    background: rgba(175, 148, 152, 0.418);
    height: 82vh;
    justify-content: center;
}
.rev-body{
    text-align: center;
    padding-top: 50px;
}
.rev-body h1{
    font-family:'Josefin Sans', sans-serif ;
    font-size: 50px;
    font-weight: 600;
    text-align: left;
}
.rev-cont{
    display: grid;
    grid-gap: 50px;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    top: 50%;
    bottom: 50%;
    padding-top: 50px;
}
.rev-img p{
    
    background-color:rgb(102, 90, 88);
    padding: 50px 50px 50px 50px ;
    font-size: 20px;
    color: white;
    font-weight: 400s;

}

.rev-img img{
    width: 100px;
    border-radius: 50%;
    border: 10px solid white;
    margin-right: 510px;
}
.rev-name{
    display:block;
}
.rev-name h2{
    font-size: 30px;
    font-weight: 500;
    margin-top: -80px;
    margin-left: 47px;
    background: white;
    border: 5px solid white;
}

/* Footer */

footer{
    background-image:linear-gradient(rgba(4,9,30,0.9),rgba(4,9,30,0.9)), url(images/eyes-4751572_1920.png) ; 
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding:100px 100px 20px 100px;
    margin-top: 50px;
}
.f-container{
    font-size: 15px;
    font-weight: 100!important;
    height: 60vh;
}
footer .f-container h4{
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 10px;
}
.footer .para p{
    font-weight: 100;
}
footer img{
    width: 200px;
    height: 200px;
}
.bottom{
    display: block;
    width: 100%;
    height: 300px;
    padding-top: 3%;
    background: rgb(200, 201, 199);
}
.btm{
    display:flex;
    text-align: center;
}
.badge-container{
    display: flex;
}
.badge-container img:hover{
    opacity: 0.5;
}
.btns{
    display: flex;
    padding-left: 500px;
    align-content: center;
    font-size: 30px;
    
}
.f-btns a{
    display: inline-flex;
    text-decoration: none;
    align-content: center;
    justify-content: space-between;
    text-align: center;
    font-size: 30px;
    
}
.f-btns a:hover{
    background:darkslategray;
}
.btn-1{
    color: white;
    background: rgb(201, 171, 0);
    padding: 5px 10px 5px 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-left: -280px;
    margin-right: 100px;
 
}
.btn-2{
    color: white;
    background: rgb(173, 78, 0);
    padding: 5px 30px 5px 30px;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-right: 100px;
 
 
   
}
.btn-3 img{
    width: 200px;
    height: 60px;
    margin-right: 100px;
}
.btn-4 img{
    width: 240px;
    height: 90px;
    margin-top: -13px;
}
.tag-container{
    display: block;
    position: relative;
    text-align: center;
    margin-top: 20px;
    
}
.tags a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.tags a:hover{
    color: rgb(185, 68, 0);
}
.icon{
    padding: 20px;
}
.icon a{
    text-decoration: none;
    color: rgb(97, 93, 93);
    margin-right: 20px;
}
.icon a:hover{
    color: rgb(3, 59, 77);
}
